[Desktop Entry]
Type=Application
Name=JournalView
Comment=Launch journalctl viewer
Exec=gnome-terminal --geometry=89x17+500+0 -- journalctl -f
X-LM-Sim=1
